<h1><%= @project.name %></h1>
<%= @project.priority %>
<p><%= @project.description %></p>

<div>
  <%= link_to "Edit",
    edit_project_path(@project)
  %>

  <%= link_to "Delete",
    project_path(@project),
    data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</div>
<div>
  <%= link_to "Add task",
    new_project_task_path(@project)
  %>
</div>

<h1>Tasks</h1>

<% @project.tasks.each do |task| %>
  <div>
    <%= task.name %>
    <%= task.description %>
    <%= task.priority %>
    <%= link_to 'See task', project_task_path(task.project, task)%>
    <hr>
  </div>
<% end %>
<%= link_to 'Home', root_path%>
